:root{
    --color-bg: #f4f6f8;
    --color-text: #333333;
    --font-base: sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-bg);
    font-family: var(--font-base);
    color: var(--color-text)
}

.header{
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    height: auto;
    padding: 1rem;
    margin-bottom: 2rem;
    position: relative;
}

.nav{
    max-width: 1900px;  
}

.nav-list{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.nav-item{
    border: 1px solid transparent;
    border-radius: .5rem;
    padding: .4rem;
    margin: 0 .2rem
}

.nav-item:hover{
    border: 1px solid #e0e0e0;
    border-radius: .5rem;
    background-color: var(--color-bg);
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.nav-link{
    text-decoration: none;
    font-weight: 400;
    color : var(--color-text);
    letter-spacing: 1px;
}

.main-content{
    min-width:200px;
    margin: auto;
    padding: auto;
}
.section-content{
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: .5rem;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

.section-home{
    text-align: center;
    margin-bottom: 2rem;
}

.section-home h1{
    margin-bottom: 1rem;
    font-size: 2rem;
}

.section-content p{
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
}

.section-content h2{
   margin-bottom: 1rem; 
   border-bottom: 1px solid #e0e0e0;
   padding-bottom: .5rem;
   font-size: 2rem
}

.section-content .categoria{
   margin: 1.5rem 0 .2rem 0; 
   padding: .5rem 0;
   font-size: 1.3rem
}

.list-content{
    margin: 0 0 .5rem 0 ;  
    padding: .5rem 0;
    list-style-type: none;
}

.list-content li{
    margin: .2rem 0 .5rem 0;
    letter-spacing: 1px;
    font-size: 1rem;
}
.experience-item{
    padding: 1rem;
    box-shadow: 0 2px 4px #e0e0e0;
    border-radius: .5rem;
}

.experience-item h4{
    margin-bottom: .5rem;
    font-size: 1.1rem;
}

.experience-item .categoria{
    font-size: 1.5rem;
}

.experience-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

