:root{
    --color-bg: #f4f6f8;
    --color-text: #333333;
    --color-link: #1a73e8;
    --font-base: sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-bg);
    font-family: var(--font-base);
    color: var(--color-text)
}

.header{
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    height: auto;
    padding: 1rem;
    margin-bottom: 2rem;
    position: relative;
}

.nav{
    max-width: 1900px;  
}

.nav-list{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.nav-item{
    border: 1px solid transparent;
    border-radius: .5rem;
    padding: 0.5rem;
    margin: 0 .2rem
}

.nav-item:hover{
    border: 1px solid #e0e0e0;
    border-radius: .5rem;
    background-color: var(--color-bg);
    cursor: pointer;
    transition: background-color 0.5s ease;
}